server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/focus_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true
    hikari:
      username: ssafy
      password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL57Dialect
    hibernate:
      dll-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  data:
    web:
      pageable:
        one-indexed-parameters: true
  redis:
    host: localhost
    port: 6379
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 500KB
      max-request-size: 215MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: blackbunnya106@gmail.com
    password: ppcohvausdqwdzie
  properties:
    mail:
      smtp:
        starttls:
          enable: true
          required: true
          auth: true
jwt:
  secret: dyAeHubOOc8KaOfYB6XEQoEj1QzRlVgtjNL8PYs1A1tymZvvqkcEU7L1imkKHeDa
  expiration: 1296000000
